{{template "base" .}}

<!-- This is how you use the content block from the base.layout.tmpl-->
{{define "content"}}
    <!-- This is the content code here-->
    <div>
      <h1>Hello Everyone!</h1>
      <p>Welcome to Golang Learning, Checking the RenderTemplateComplex method</p>
    </div>
{{end}}
